[Unit]
Description = OctoPrint server
Wants = network-online.target
After = network.target network-online.target

[Service]
User = biqu
ExecStart = /home/biqu/OctoPrint/venv/bin/octoprint
StandardOutput=inherit
StandardError=inherit
Restart=always
CPUSchedulingPolicy=rr
CPUSchedulingPriority=80
RemainAfterExit = no
RestartSec = 5s

[Install]
WantedBy = default.target
